@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@500;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Figtree", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}
.active {
  color: #6A5AE0;
}